<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
tu będzie lista użytkowników
size: <span th:text="${#lists.size(users)}"/>

<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>enabled</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td th:text="${user.email}" />
        <td th:text="${user.enabled}" />
    </tr>
</table>
</body>
</html>